
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',sans-serif;



}

h1 {
  line-height:2;
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
}

.mountain {}
  .me{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .skillcoder{
    width: 200px;
    height: 200px;
    border-radius: 60%;
  }
  .skillvolley{
    width: 200px;
    height: 200px;
    border-radius: 60%;
  }
